.progressChartContainer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .progressChartContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 3vh auto;
    }

    #progressChart{
        margin: 3vh 0;
    }

    .circular-progress {
        height: 60vw;
        width: 60vw;
    }
    
    .circular-progress::before {
        height: 40vw;
        width: 40vw;
    }
}